<!DOCTYPE html>
<html data-theme="light">
  <head>
    <title><%= content_for(:title) || "Toosaint" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      Too Saint
    </a>
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item">
        Home
      </a>

      <a class="navbar-item">
        Profile
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          More
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item">
            About
          </a>
          <a class="navbar-item">
            Contact
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item">
            Report an issue
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <% if !user_signed_in? %>
        <div class="buttons">
          <%= link_to "Sign up", new_registration_path("user"), class:"button is-primary" %><br />
          <%= link_to "Log in", new_session_path("user"), class:"button is-light" %>
        </div>
      <% end %>
      <% if user_signed_in? %>
        <div class="buttons">
          <%= link_to "Sign out", destroy_user_session_path, :method => "delete", data: { "turbo-method": :delete }, class:"button is-danger" %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</nav>
    <div class="section">
      <div class="container">
        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, :id => "flash_#{name}", class:"notification flash_#{name}" %>
        <% end %>

        <%= yield %>
      </div>
    </div>
  </body>
</html>
